<div id="<%= dom_id investment %>">
  <p>
    <strong>User:</strong>
    <%= investment.user_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= investment.company_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= investment.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= investment.status %>
  </p>

</div>
