<div id="<%= dom_id job %>">
  <p>
    <strong>User:</strong>
    <%= job.user_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= job.company_id %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= job.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= job.end %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

</div>
