<%= form_with(model: objective) do |form| %>
  <% if objective.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(objective.errors.count, "error") %> prohibited this objective from being saved:</h2>

      <ul>
        <% objective.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :end, style: "display: block" %>
    <%= form.date_field :end %>
  </div>

  <div>
    <%= form.label :metric, style: "display: block" %>
    <%= form.select :metric, @metric_options %>
  </div>

  <div>
    <%= form.label :goal, style: "display: block" %>
    <%= form.number_field :goal %>
  </div>

  <div>
    <%= form.label :result, style: "display: block" %>
    <%= form.number_field :result %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
