<div id="<%= dom_id objective %>">
  <p>
    <strong>End:</strong>
    <%= objective.end %>
  </p>

  <p>
    <strong>Metric:</strong>
    <%= objective.metric %>
  </p>

  <p>
    <strong>Goal:</strong>
    <%= objective.goal %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= objective.result %>
  </p>

</div>
