<h1 class="text-3xl font-bold">Homepage</h1>
&nbsp;
<p class="underline"><%= link_to "Users", users_path %></p>
<p class="underline"><%= link_to "Companies", companies_path %></p>
<p class="underline"><%= link_to "Jobs", jobs_path %></p>
<p class="underline"><%= link_to "Investments", investments_path %></p>
<p class="underline"><%= link_to "Objectives", objectives_path %></p>
