<!DOCTYPE html>
<html>
  <head>
    <title>Oops</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Oops", root_path, class: "underline" %>
    <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Log Out", logout_path, class: "underline" %>
    <% else %>
      <%= link_to "Sign Up", signup_path, class: "underline" %> or
      <%= link_to "Log In", login_path, class: "underline" %>
    <% end %>
    &nbsp;
    <%= yield %>
  </body>
</html>
